@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

html, body {

    min-width: 800px;
    min-height: 800px;
    left: 0px;
    right: 0px;
    font-family: 'Rowdies', cursive;
    margin: 0px;
}

h1 {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 12vh;
    top: 5vh;
    width: 100%;
    font-size: 10vh;
    background-color: white;
    background-position: center;
    z-index: 9999;
}

section {
    display: flex;
    justify-content:center;
    position: relative;
    padding: 20px;
    width: 100vw;
    height: 98vh;
    /*margin: 50px;*/
    background-color: #F4AC45;
    top: 10vh;
    left: 0px;
    margin-bottom: 2vh;
}


.nav-bar {
    background-color: #92Bfb1;
    position: fixed;
    text-align: right;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 6vh;
    top: 0px;
    left: 0px;
    z-index: 9999;
    /*box-shadow: 0px 6px 8px grey;*/
}



.nav-bar a {
    display: block;
   
    text-decoration: none;
    
    color: black;
    width: 5vw;
  
    margin: 20px;
   
    text-align: center;
  
}
.nav-bar-link{
    display: flex;
    justify-content: center;
    background-color: transparent;

}
.nav-bar .nav-bar-link:hover {
    background-color: #a61c3c;  
    color: whites;  
}

.nav-bar a:hover
{color: white;
}

.wrapper {

    display: flex;
    justify-content: center;
    background-color: transparent;
    left: 0px;

}

.card {
    position: relative;
    width: 26vw;
    height: 70vh;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    object-fit: cover;
    overflow: hidden;

}


.cards {
    position: relative;
    padding: 30px;
    margin: 10px;
    display: block;
    left: 0px;
    top: 5vh;
    background-color: transparent;


    perspective: 1000px;
}

.cards:hover .card {
    transform: rotateY(180deg);
}


.cards .card div p,h2 {
    transform: scale(-1, 1);
    padding: 30px;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front
{
    background-image:url(https://i.redd.it/tom097oyy2b51.jpg);
    font-size: 40px;
    object-fit: cover;
    background-color: #92Bfb1;  
    color:white;

}
/* .front h3{
    background-color: rgba(0,0,0,0.4);
} */

.back {
    color: white;
    background-color: #dad6d6;
}

video {

    position: relative;
    width: 80%;
    height: 80vh;
    top: 2vh;

}

.v {
    display: flex;
    justify-content: center;
}

#footer{
    display: flex;
    height: 15vh;
    width: 100vw;
    background-color:#92Bfb1;
    color: white;
}
/*
.container{
    grid-template-columns: [first] 20vw [line2] 30vw [line3] auto [col4-start] 20vw [five] 30vw [end];
    grid-template-rows: [row1-start] 25% [row1-end] 60px [third-line] auto [last-line];

}

.avani {
    grid-column: 3 / span 2;
    grid-row: third-line / 4;
    background-color: thistle;
    font-size: 40px;
  }
 


 

 #alima_img
 {
     display: block;
     position: relative;
     left: px;
 }
 img{
    width: 30vw;
    height: 70vh;
}

 */

 .about
 {   
    display: flex;
    position: relative;
    width: 30vw;
    height: 80vh;
    top:5vh;
    background-color: #92Bfb1;
    margin: 30px;
    font-size: 70px;
    justify-content: center;
    
 }

#avani
{
    background-image: url("avani.jpg");
    background-size: cover;
    font-size: 30px;
    color:black;
    overflow: hidden;
}


#alima
{
    background-image: url("alima.jpeg");
    background-size: cover;
    font-size: 30px;
    color:black;
    overflow: hidden;
    text-align: left;
}

#alima .h3
{
    position: relative;
    top:0;
    left:0;
    color: white;

}
#av_text
 {
    
    position: relative;
    top:85%;
    left: 0;
    color: white;
    font-size: 25px;
    background-color:#92Bfb1;
    opacity: .8;
    text-align: center;
    transition: top 2s;
 }

 #al_text
 {
    position: relative;
    top:85%;
    left: 0;
    color: white;
    font-size: 25px;
    background-color:#92Bfb1;
    opacity: .8;
    text-align: center;
    transition: top 2s;
 }